<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>가계부 추가</h1>
	<div th:include="/include/menu::sidemenu"></div>
   <!--<jsp:include page=""> -->
   <div align="center">
   		<form method="post" action="/insertCashList">
   			<div>
   				<input type="date" name ="cashDate" id="cashDate">
   			</div>
   			<div>
				category_name : 
				<select name="categoryName" id = "categoryName">
					<option value="">카테고리 선택</option>
					<option th:each="i : ${category}" th:value="${i.categoryName}" th:text="${i.categoryName}"></option>
				</select>
			</div>
			<div>
				cash_kind :
				<input type="radio" name="cashKind" id="cashKind" value="지출">지출
				<input type="radio" name="cashKind" id="cashKind" value="수입">수입
			</div>
			<div>
				cash_price :
				<input type="text" name="cashPrice" id="cashPrice">
			</div>
			<div>
				cash_place :
				<input type="text" name="cashPlace" id="cashPlace">
			</div>
			<div>
				cash_memo :
				<input type="text" name="cashMemo" id="cashMemo">
			</div>
			<div>
				<button type="submit" id="btn">수정</button>
			</div>
   		</form>
   </div>
</body>
</html>