<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	let clear = function(){
		$('#idHelper').text("");
		$('#pwHelper').text("");
	};

	$(document).ready(function(){
		
		$('#btn').click(function(){
			//유효성 검사 코트 구현
			
			if($('#memberId').val().length === 0){
				clear();
				$('#idHelper').text("아이디를 입력하세요");
				return;
			}else if($('#memberPw').val().length === 0){
				clear();
				$('#pwHelper').text("비밀번호를 입력하세요");  
				return;
			}
			$('#loginForm').submit();
		});
	});
</script>
<style>
	.div-all{
		margin-top: 300px;
	}
</style>
</head>
<body>
	<div align="center" class="div-all">
		<h1>로그인</h1><br>
		<form method="post" th:action="@{/login}" id="loginForm">
			<div>
				member_id : 
				<input type="text" id="memberId" name="memberId">
				<span id="idHelper"></span>
			</div><br>
			<div>
				member_pw : 
				<input type="password" id="memberPw" name="memberPw">
				<span id="pwHelper"></span>
			</div><br>
			<div>
				<span th:text="${msg}"></span>
			</div>
			<div>
				<a th:href="@{/findMemberId}">아이디가 기억나지 않아요.</a> <!-- 이름, 메일 ,전화번호 : 아이디--><br><br>
				<a th:href="@{/findMemberPw}">비밀번호가 기억나지 않아요.</a> <!-- 아이디,이메일 : 이메일을통해 새로운 비밀번호 보내준다 -->
			</div><br>
			<div>
				<button type="button" id="btn" class="btn btn-primary" style="width:150px;">로그인</button>
			</div>
		</form>
	</div>
</body>
</html>