<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cashbook.mapper.CashMapper"> 
	<!-- select CashList -->  
   <select id="selectCashListByDate"
         parameterType="com.example.cashbook.vo.Cash"
         resultType="com.example.cashbook.vo.Cash">
      SELECT
         cash_no as cashNo, <!-- 수정 삭제하려고 넘버값 받음 -->
         cash_kind as cashKind,
         category_name as categoryName,
         cash_price as cashPrice,
         cash_place as cashPlace,
         cash_memo as cashMemo
      FROM  cash 
      WHERE member_id = #{memberId}
      AND cash_date = #{cashDate}            
      ORDER BY cash_no ASC
   </select>
   
   <!-- delete Cash -->
   <delete id="deleteCash" parameterType="int">
   	DELETE
   	FROM cash
   	WHERE cash_no = #{cashNo}
   </delete>
   
   <!-- 일별 합계 -->
   <select id="selectCashKindSum" parameterType="com.example.cashbook.vo.Cash" resultType="int">
   		SELECT
         (SELECT 
            IFNULL(SUM(cash_price), 0) 
         FROM cash
         WHERE member_id = #{memberId} AND cash_kind = '수입' AND cash_date = #{cashDate})
         -
         (SELECT 
            IFNULL(SUM(cash_price), 0)
         FROM cash
         WHERE member_id = #{memberId} AND cash_kind = '지출' AND cash_date = #{cashDate})
      FROM dual
   </select>
   
   <!-- 월별 합계 -->
   <select id="selectDayAndPrice" parameterType="java.util.Map" resultType="com.example.cashbook.vo.DayAndPrice">
   		SELECT DAY(cash_date) as day, 
   			   SUM(CASE WHEN cash_kind='수입' THEN cash_price
   			   	   WHEN cash_kind='지출' THEN -cash_price END) as price
   		FROM cash
   		WHERE member_id = #{memberId}
   		AND YEAR(cash_date) = #{year}
   		AND MONTH(cash_date) = #{month}
   		GROUP BY DAY(cash_date)
   </select>
   
   <!-- 월별 돈 합계 -->
   
   <select id="selectDayAndPriceSum" parameterType="java.util.Map" resultType="com.example.cashbook.vo.DayAndPrice">
   	SELECT
   		(SELECT
   			IFNULL(SUM(cash_price), 0)
   		FROM cash
   		WHERE member_id = #{memberId} AND cash_kind = '수입' AND MONTH(cash_date) = #{month})
   		-
   		(SELECT
   			IFNULL(SUM(cash_price), 0)
   		FROM cash
   		WHERE member_id = #{memberId} AND cash_kind = '지출' AND MONTH(cash_date) = #{month}) AS price
   	FROM dual
   </select>
   
   <!-- 일별 가계부 수정 폼 -->
   <select id="selectCashListOne"
         parameterType="com.example.cashbook.vo.Cash"
         resultType="com.example.cashbook.vo.Cash">
      SELECT
         cash_no as cashNo,
         cash_kind as cashKind,
         category_name as categoryName,
         cash_price as cashPrice,
         cash_place as cashPlace,
         cash_memo as cashMemo
      FROM  cash 
      WHERE member_id = #{memberId}
      AND cash_date = #{cashDate}            
      AND cash_no = #{cashNo}
   </select>
   
   <!-- 일별 가계부 수정 액션-->
   <update id="updateCash" parameterType="com.example.cashbook.vo.Cash">
   		UPDATE cash
   		SET member_id = #{memberId},
   			cash_kind = #{cashKind},
   			category_name = #{categoryName},
   			cash_price = #{cashPrice},
   			cash_place = #{cashPlace},
   			cash_date = #{cashDate}
   		WHERE cash_no = #{cashNo}
   </update>
   
   <!-- 카테고리 리스트 -->
   <select id="selectCategoryName" parameterType="com.example.cashbook.vo.Category" resultType="com.example.cashbook.vo.Category">
		   SELECT 
		   		category_name as categoryName
		   FROM category
   </select>
   
   <!-- 일별 가계부 삽입 액션 -->
   <insert id="insertCashList" parameterType="com.example.cashbook.vo.Cash">
   		INSERT INTO cash(
   			member_id,
   			cash_date,
   			cash_kind,
   			category_name,
   			cash_price,
   			cash_place,
   			cash_memo
   		)VALUES(
   			#{memberId},
   			#{cashDate},
   			#{cashKind},
   			#{categoryName},
   			#{cashPrice},
   			#{cashPlace},
   			#{cashMemo}
   		)
   </insert>
</mapper>